<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a href="#" class="nav-link mx-auto mt-4">
          <img
            src="./assets/img/profile-img.png"
            class="img-90 rounded-circle"
          />
        </a>

        <h6 class="mt-2 f-14 f-w-600 mx-auto text-warning">ADMIN</h6>
        <label class="mx-auto mb-0">Oficina: Medellin</label>
      </div>
    </div>

    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Start Bootstrap
    </div>
  </nav>
</div>
